{% extends "ProjektHotelHotelBundle::szablon.html.twig" %}

{% block content %}
    	 <!---start-content---->
	
                 
                                    <div class="about-us">
		 			<div class="wrap">
						<div class="about-header">
								<div class="clear"> </div>
                                                        <img src="{{asset('bundles/projekthotelhotel/images/basen4.jpg')}}" class="image image-full" alt="" />
						</div>
						<div class="about-info">
							<a  style="text-align: center">Godziny otwarcia </a>
							<p  style="text-align: center">Poniedziałek - Piątek: 11-20</p>
                                                        <p  style="text-align: center">Sobota 10-21</p>
                                                        <p  style="text-align: center">Niedziela 10-22</p>  
						</div>
                 
                 
                                        </div>
                                    </div>
{% endblock %}